<h2 class="header">Admin Login</h2>

<div class="admin-login">
        <%= form_with(url: backend_login_path, scope: :session, local:true) do |form| %>

                <%= form.label :username %>
                <%= form.text_field :username, "size" => 20  %>
            </p>
            <p>
               <%= form.label :password %>
               <%= form.text_field :password, "size" => 20  %>
            </p>
            <p> <%= form.submit "Login" %> </p>
        <% end %>

    </div>
